.character {
    display: flex;
    flex-direction: column;
    width: 300px;
    max-width: calc(100% - 80px);

    &__pic {
        width: 100%;
        border-radius: 10px 10px 0 0;
    }

    &__info {
        border-radius: 0 0 10px 10px;
        background-color: #365c73;
        padding: 1rem 0;

        .field {
            display: flex;
            padding: 1rem 2rem;
            font-size: 1.4rem;
            color: white;
            letter-spacing: 2px;

            &__title {
                font-weight: bolder;
                display: inline-block;
                width: 120px;
                margin: 0;
            }

            &__data {
                margin: 0;
            }
        }
    }
}