.menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-height: 100%;
    width: 100%;
    overflow: hidden;

    &__title {
        max-width: calc(100% - 20px);
        max-height: 150px;
        transform: translateY(-100vh);
        animation: 0.75s forwards ease-out title;
    }

    &__logo {
        max-width: calc(100% - 60px);
        max-height: calc(100vh - 280px);
        opacity: 0;
        transform: scale(0.8);
        animation: 0.4s 0.75s forwards ease-out show;
    }

    &__controllers {
        display: flex;
        flex-flow: row wrap;
        justify-content: space-around;
        width: 100%;
        & > * {
            transform: scale(0.8);
            opacity: 0;
        }

        @for $children from 1 through 2 {
            & > *:nth-child(#{$children}) {
                animation: 0.3s #{0.9 + $children*0.3}s forwards ease-out show;
            }
        }
    }
}

@keyframes title {
    from {transform: translateY(-100vh);}
    to {transform: translateY(0)}
}

@keyframes show {
    0% {opacity: 0;transform: scale(0.8);}
    80% {opacity: 1;transform: scale(1.2);}
    100% {opacity: 1;transform: scale(1);}
}